<style>
  #infoMiniTitle{
text-align:center;
padding:10px;
}
</style>
<h2>
  My Movies {{errorMsg.error.text}}
</h2>

<div id="alert" *ngIf="showAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
    {{errorMsg.error.text}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Movie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="text" required [(ngModel)]="movie.Title" name="Title" #Title="ngModel" (change)=log(Title)
          placeholder="Title" class="form-control" autofocus>

        <div class="form-group">
          <input type="number" [(ngModel)]="movie.Year" name="Year" placeholder="Year" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <input type="text" [(ngModel)]="movie.Runtime" name="Runtime" placeholder="Runtime" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" [(ngModel)]="movie.Genre" name="Genre" placeholder="Genre" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" [(ngModel)]="movie.Director" name="Director" placeholder="Director" class="form-control">
        </div>
        <div class="form-group">
          <input type="url" [(ngModel)]="movie.Poster" name="image URL" placeholder="Poster" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" (click)="updateMovie(movie)" type="button" class="btn btn-primary" data-dismiss="modal">Save
          changes</button>
      </div>
    </div>
  </div>
</div>







<div class="modal fade" id="movieInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">{{movie.Title | titlecase}} <h5>{{movie.Year}}</h5>
        </h4>
        <p id="infoMiniTitle"><span style="text-decoration: underline;">Runtime:</span><br />{{movie.Runtime}}</p>
        <p id="infoMiniTitle"><span style="text-decoration: underline;">Genre:</span><br />{{movie.Genre}}</p>
        <p id="infoMiniTitle"><span style="text-decoration: underline;">Director:</span><br />{{movie.Director}}</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="deleteMovie" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Movie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="submit" (click)="deleteMovie(movie.Imdbid)" type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>

<div style="margin-top:10px;" class="col-md-3" *ngFor="let movie of movies">
  <div class="text-center">
    <div>
      <div class="centered"> {{movie.Title | titlecase}}, {{movie.Year}} </div>
      <img [src] class="image rounded" [src]="movie.Poster">
      <div class="text">
        <div class="actionOne">
          <i style="color:white;" class="btn btn-info material-icons" data-toggle="modal" data-target="#movieInfo"
            (click)="getMovie(movie.ID)">
            info
          </i>
        </div>
        <div class="actionTwo">
          <i style="color:white;" class="btn btn-warning material-icons" data-toggle="modal" data-target="#myModal"
            (click)="getMovie(movie.ID)">
            create
          </i>
        </div>
        <div class="actionThree">
          <i style="color:white;" class="btn btn-danger material-icons" data-toggle="modal" data-target="#deleteMovie"
            (click)="getMovie(movie.ID)">
            delete
          </i>
        </div>
      </div>

    </div>
  </div>
  <div class="card-body">
  </div>
</div>