
<h2>
  Search New Movie
</h2>
<form>
  <input name="title" [(ngModel)]="title" placeholder="Batman" class="form-control" />
  <button type="submit" style="margin-top:10px;" (click)="searchMovie(title)" class="btn btn-success btn-block">Search</button>
</form>

<div id="alert" *ngIf="showAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
    {{errorMsg.error.text}}
    </div>


<div style="margin-top:10px;" class="col-md-2" *ngFor="let movie of movies.Search">
  <div class="text-center">
    <div>
        <span id="title" href="#" class="effect-underline">{{movie.Title | slice:0:20 | titlecase}} </span>
      <img [src] class="image rounded" [src]="movie.Poster">
      <div class="middle">
        <div id="add" (click)="addMovie(movie.imdbID)" class="text">
            <i id="icon" style="font-size:2.5em;" class="btn btn-success material-icons">
            add
          </i>
        </div>
      </div>
    </div>
    <div class="card-body">
    </div>

  </div>
</div>
