/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Dosis:300,400);

body {
    margin: 0;
    background: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}
.card-img-top{
    height:200px;
}

@media screen and (min-width:780px){
    .col-md-2{
        float:left;
        max-width:20%;
    }
    #title{
        font-size:13px;
    }
    #icon{
        font-size:1em;
    }
}


.centered {
    opacity:1;
    font-size: 15px;
    position: relative;
    top: 0;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    max-width:350px;
  }
  .actionOne{
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 70%;
        left: 25%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        max-width:350px;
      }
      .actionTwo{
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }

      .actionThree{
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 70%;
        left: 75%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }
  .card-body{
      padding:0.5rem;
  }
  #title {
    color: black;  
    text-decoration: none;
    display: inline-block;
    max-width:200px;
    // white-space: nowrap;
    overflow: hidden;
    // line-height: 15px;
    text-overflow: ellipsis;
    position: relative;
    margin-bottom: 10px;
    height:50px;
    font-family: 'Montserrat', sans-serif;
}
h2{
    color: black;
    font-size:3em;
    font-family: 'Dosis', sans-serif;

}

#icon{
    color:white;
    font-size:2em;
}
#container {
   display: grid;
   grid-template-columns: 70px auto;
   height: 100%;

   #content {
       padding: 30px 50px;

       ul {
           list-style-type: none;
           margin:0;padding:0;
       
           li {
               background: #fff;
               border-radius: 8px;
               padding: 20px;
               margin-bottom: 8px;
       
               a {
                   font-size: 1em;
                   text-decoration: none;
                   font-weight: bold;
                   color:#00A8FF;
               }
       
               ul {
                   margin-top: 20px;
                   
                   li {
                       padding:0;
       
                       a {
                           font-size: 1em;
                           font-weight: 300;
                       }
                   }
               }
           }
       }
   }
}

//Hover on image:
img:hover{
 opacity:1;   
}
.container {
    position: relative;
    width: 50%;
  }
  .image{
    opacity: 0.5;
    display: block;
    width: 100%;
    max-width:350px;
    min-width:100px;
    height: 150px;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .text-center:hover .image {
    opacity: 0.8;
  }
  
  .text-center:hover .middle {
    opacity: 1;
  }
  .text-center:hover .actionOne {
    opacity: 1;
  }
  .text-center:hover .actionTwo {
    opacity: 1;
  }
  .text-center:hover .actionThree {
    opacity: 1;
  }
  .text-center:hover .centered {
    font-size:16px;
    color:black;
    font-weight: bold;
  }
  
  .text {
    color: white;
    font-size: 10px;
    padding: 16px 32px;
  }

//Mobile to small screens:
@media screen and (max-device-width: 480px) {
    .text-center .middle {
        opacity: 1;
      }
      .text-center .actionOne {
        opacity: 1;
      }
      .text-center .actionTwo {
        opacity: 1;
      }
      .text-center .actionThree {
        opacity: 1;
      }

      #icon{
        font-size:1em;
      }

    p{
        font-size:10px;
    }
    body{
        font-size:10px;
    }
    #showAlert{
        font-size: 10px;
    }
    .centered{
        font-size:12px;
    }
.text-center{
    max-width: 100%;
    min-width: 150px;
}
}


// @media screen and (min-width:1280px){
//     #title{
//         height:60px;
//         font-size:17px;
//         max-width:300px;
//     }
// }

@media screen and (max-device-width:1080px){
    #title{
        font-size:13px;
    }
    #icon{
        font-size:1vw;
    }

}
.alert{
    color:black;
    text-align:center;
    margin-top:5px;
}


@import url(https://fonts.googleapis.com/css?family=Dosis:300,400);

  
  
  /*effect-underline*/
  .text-center #title.effect-underline:after {
      content: '';
    position: absolute;
    left: 0;
    color:#000000;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 2px dashed;
        margin-top: 10px;
    opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: scale(0,1);
      transform: scale(0,1);
  }

  .text-center:hover #title.effect-underline:after {
    opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  .text-center:hover #title {
    font-weight: bold;
}
  

  
  @-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
  }

  .modal-title{
    font-family: 'Dosis', sans-serif;

  }