/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    background: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}
.card-img-top{
    height:200px;
}
.col-md-3{
    width:30%;
    float:left;
}
.centered {
    font-size: 15px;
    position: absolute;
    top: 0;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    box-shadow: 0px 2px 0px 0px #212121;
    height: 20%;
    background-color: #001a3adb;
    /* border-radius: 25px; */
    text-align: center;
    padding: 5px;
  }
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
#title{
    font-weight: bolder;
    color: black;
    text-decoration: underline;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}
h2{
    color: black;
}

#container {
   display: grid;
   grid-template-columns: 70px auto;
   height: 100%;

   #content {
       padding: 30px 50px;

       ul {
           list-style-type: none;
           margin:0;padding:0;
       
           li {
               background: #fff;
               border-radius: 8px;
               padding: 20px;
               margin-bottom: 8px;
       
               a {
                   font-size: 1em;
                   text-decoration: none;
                   font-weight: bold;
                   color:#00A8FF;
               }
       
               ul {
                   margin-top: 20px;
                   
                   li {
                       padding:0;
       
                       a {
                           font-size: 1em;
                           font-weight: 300;
                       }
                   }
               }
           }
       }
   }
}

