/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    background: #F2F2F2;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}
.card-img-top{
    height:200px;
}
.col-md-3{
    float:left;
}
.centered {
    opacity:1;
    font-size: 15px;
    position: relative;
    top: 0;
    font-weight: bold;
    width: 100%;
     height: 50px;
    /* background-color: #001a3adb; */
    border-radius: 25px;
    text-align: center;
    max-width:350px;
  }
  .actionOne{
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 70%;
        left: 25%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        max-width:350px;
      }
      .actionTwo{
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }

      .actionThree{
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 70%;
        left: 75%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }
  .card-body{
      padding:0.5rem;
  }
#title{
    font-weight: bolder;
    color: black;
    text-decoration: underline;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}
h2{
    color: black;
}

#icon{
    color:white;
    font-size:3em;
}
#container {
   display: grid;
   grid-template-columns: 70px auto;
   height: 100%;

   #content {
       padding: 30px 50px;

       ul {
           list-style-type: none;
           margin:0;padding:0;
       
           li {
               background: #fff;
               border-radius: 8px;
               padding: 20px;
               margin-bottom: 8px;
       
               a {
                   font-size: 1em;
                   text-decoration: none;
                   font-weight: bold;
                   color:#00A8FF;
               }
       
               ul {
                   margin-top: 20px;
                   
                   li {
                       padding:0;
       
                       a {
                           font-size: 1em;
                           font-weight: 300;
                       }
                   }
               }
           }
       }
   }
}

//Hover on image:
img:hover{
 opacity:1;   
}
.container {
    position: relative;
    width: 50%;
  }
  .image{
    opacity: 0.5;
    display: block;
    width: 100%;
    max-width:350px;
    min-width:100px;
    height: 200px;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .text-center:hover .image {
    opacity: 0.8;
  }
  
  .text-center:hover .middle {
    opacity: 1;
  }
  .text-center:hover .actionOne {
    opacity: 1;
  }
  .text-center:hover .actionTwo {
    opacity: 1;
  }
  .text-center:hover .actionThree {
    opacity: 1;
  }
  .text-center:hover .centered {
    font-size:17px;
    color:black;
  }
  
  .text {
    color: white;
    font-size: 10px;
    padding: 16px 32px;
  }

//Mobile to small screens:
@media screen and (max-device-width: 480px) {
    .text-center .middle {
        opacity: 1;
      }
      .text-center .actionOne {
        opacity: 1;
      }
      .text-center .actionTwo {
        opacity: 1;
      }
      .text-center .actionThree {
        opacity: 1;
      }
      #icon{
        font-size:1em;
      }

    p{
        font-size:10px;
    }
    body{
        font-size:10px;
    }
    #showAlert{
        font-size: 10px;
    }
    .centered{
        font-size:12px;
    }
.text-center{
    max-width: 100%;
    min-width: 150px;
}
}


//Mobile to large screens
@media screen and (min-width: 1800px) {
    .actionOne{
        left: 20%;
      }
      .actionTwo{
        left: 45%;
      }
      .actionThree{
        left: 70%;
      }

      .middle {
        top: 55%;
        left: 45%;

      }
}

.alert{
    color:black;
    text-align:center;
    margin-top:5px;
}